.route-details {
	position: absolute;
	/*background-color: #816F85;*/
	width: 300px;
	height: 90vh;
	right: 0;
	top: 0;
	z-index: 2;
	display: inline-block;

	padding: 15px;

	-webkit-box-shadow:inset 0px 0px 0px 4px black;
	-moz-box-shadow:inset 0px 0px 0px 4px black;
	box-shadow:inset 0px 0px 0px 4px black;

}

.schedule-summary{
	background-color: #E2E2E2;
	margin-bottom: 10px;
	box-shadow: 5px 5px 5px #888888;
	border: 1 solid black
}

.title{
	font-weight: bold;
}

hr{
  border-top: 1px solid black;
}

.slideLeft{
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;	

	animation-duration: 0.5s;	
	-webkit-animation-duration: 0.5s;
	-webkit-animation-fill-mode: forwards;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes slideLeft {
	0% {
		transform: translateX(150%);
        fill-opacity: 0;
	}		
	100% {
		transform: translateX(0%);
        fill-opacity: 100;
	}
}

@-webkit-keyframes slideLeft {
	0% {
		-webkit-transform: translateX(150%);
	}	
	100% {
		-webkit-transform: translateX(0%);
	}
}

.slideRight{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;	

	animation-duration: 0.5s;	
	-webkit-animation-duration: 0.5s;
	-webkit-animation-fill-mode: forwards;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes slideRight {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(150%);
	}	
}

@-webkit-keyframes slideRight {
	0% {
		-webkit-transform: translateX(0%);
	}		
	100% {
		-webkit-transform: translateX(150%);
	}
}