<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h1>Login</h1>
      <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
        <div class="form-group">
          <label for="email">email</label>
          <input
            type="text"
            class="form-control" 
            id="email" name="email" 
            #email="ngModel" 
            [(ngModel)]="user.email">
        </div>
        <div class="form-group">
          <label for="password">password</label>
          <input 
            type="password" 
            class="form-control" 
            id="password" 
            name="password" 
            #password="ngModel" 
            [(ngModel)]="user.password">
        </div>
        <div *ngIf="errors.length > 0">
          <div *ngFor="let error of errors" class="bg-danger">
            {{error}}
          </div>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</div>