.node-header {
  color: #6A5170;
  width: 100%;
  /*height: 10vh;*/
  border-bottom: 1px solid grey;
}

.logo {
  /*max-height: 45px;
  max-width: 288px;*/
  /*position: absolute;
  bottom: 0;*/
}

.mode {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

input{
  background-color: #BFBAC0;
  border: 1px solid #9B9B9B;
  color: #291C27;
}

@media (min-width: 768px) {
  .row-fluid {
    display: flex;
    align-items: flex-end;
  }
}

.search-results {
  position: absolute;
  z-index: 2;
  width: 85%;
  border: 1px solid #BFBAC0
}

.search-result {
  background-color: #FFFFFF;
}

.search-result:hover {
  cursor: pointer;
  background-color: #5F999F
}