<div class="row">
  <div class="col-md-12">
    <div class="node-header">
      <div class="row-fluid">
        <div class="col-md-4 col-xs-12">
          <img class="logo" src="{{env.baseUrl}}/images/logo.png">
        </div>
        <div class="col-md-2 col-xs-12">
          <div class="input-group">
            <input [formControl]="search" type="text" class="form-control" placeholder="Enter station name">
          </div>
          <search-results (loadStation)="load($event)" *ngIf="focus" [nodes]='nodes.nodes' [query]='query'></search-results>
        </div>
        <div class="col-md-3 col-xs-12">
          <update-timer [status]="status" [updateCount]="updateCount"></update-timer>
        </div>
        <div class="col-md-2 text-right">
          <h3><a href="https://github.com/code-matt/mbta_health" target="_blank">GitHub</a></h3>
        </div>
      </div>
    </div>
  </div>
</div>